*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 
#courses{
    font-weight: bold;
}
.landing1{
    height: 100vh;
    position: relative;
    z-index: -10;
}
.col{
    height: 83vh;
}
.img1{
    position: absolute;
    top: 10vh;
    left: 50vw;
}
figure{
    display: flex;
    align-items: center;
    gap: 1vw;
    color: rgb(33,37,41);
}
.firstbtn{
    width: 16vw;
    height: 5vh;
    border: 1px solid black;
    padding: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 10vh;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(229,229,229);
}
#menubar{
    transform: rotate(90deg);
    font-weight: bolder;
    font-size: 1.5vw;
    display: none;
}
#closebar{
    font-weight: bolder;
    font-size: 10vw;
    display: none;
}
.h1>figure{
    cursor: default;
}
.h1>p{
    cursor: pointer;
}
/* menu bar animation */
#menucontent{
    width: 100%;
    height: 39vh;
    background-color: white;
    position: fixed;
    top: -50vh;
    z-index: 1;
    padding: 1vh 2vw 5vh 4vw;
    line-height: 7vh;
    font-weight: bold;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(229,229,229);
    /* animation-name: menubar; */
    animation-duration: 1s;
}
@keyframes menubar {
    from{
        top: -50vh;
    }
    to{
        top: 10vh;
    }
}
@keyframes closebar {
    from{
        top: 10vh;
    }
    to{
        top: -50vh;
    }
}
.h1{
    display: flex;
    gap: 4vw;
    align-items: center;
    font-weight: bold;
}
.h2{
    display: flex;
    align-items: center;
}
.cu{
    margin-right: 4vw;
    background-color: rgb(221,61,49);
    color: white;
    border-radius: 5px;
    height: 5vh;
    width: 7vw;
    border: none;
}
.men{
    width: 100%;
    cursor: pointer;
}.men2{
    width: 30vw;
    height: 5vh;
    border: 1px solid black;
    padding: 10px;
}
.men:hover{
    text-decoration: underline;
}
.login{
    width: 5vw;
    height: 5vh;
    border-color: rgba(0, 0, 255, 0);
    background-color: rgba(0, 0, 255, 0);
    margin-right: 2vw;
    margin-left: 5vw;
}










.section1{
    display: flex;
    gap: 10vw;
    padding-left: 5vw;
    background-color: rgb(239,241,245);
    height: 75vh;
}
.ttu{
    font-size: 3vw;
    margin-top: 6vh;
    font-weight: bold;
    padding-bottom: 5vh;
    margin-left: 1.5vw;
}
.ttu2{
    font-size: 1.5vw;
    line-height: 4vh;
}
.box>:nth-child(2){
    margin-left: 1.5vw;
}
#ec{
    background-color: rgb(221,61,49);
    /* padding: 1.5vw; */
    border-radius: .5vw;
    margin-top: 5vh;
    color: white;
    border: none;
    margin-left: 1.5vw;
    font-size: 1.7vw;
    /* padding: 2vh 1vw 2vh 1vw; */
}
.box{
    /* border: 1px solid black; */
    height: 45vh;
    width: 38vw;
    margin-top: 20vh;
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(129, 126, 126);
    line-height: 3.5vh;
    position: sticky;
    z-index: 1;
    padding-left: 2vw;
}
.alumni{
    /* border: 1px solid black; */
    margin-left: 35vw;
    font-size: 1.3vw;
    font-weight: 600;
    padding-bottom: 8vh;
}
.logo{
    margin-left: 30vw;
    font-size: 1.5vw;
}
.landing2{
    margin-top: 10vh;
    height: 80vh;
    display: flex;
    gap: 2em;
}
.text2>:first-child{
    font-size: 2vw;
    font-weight: 900;
    padding-bottom: 2vh;
}
.text2>:nth-child(2){
    padding-bottom: 3vh;
}
.text2>:nth-child(3){
    padding-bottom: 3vh;
}
.text2>:nth-child(4){
    padding-bottom: 3vh;
}
ul li{
    padding-bottom: 1vh;
}
ul{
    font-weight: 600;
}
.img{
    margin-left: 10vw;
}
.next>:first-child{
    margin-top: 5vh;
    margin-left: 37vw;
    font-size: 2vw;
    font-weight: 900;
    padding-bottom: 4vh;
}
.next>:nth-child(2){
    margin-left: 28vw;
    font-size: 2vw;
    font-weight: 800;
    padding-bottom: 8vh;
}
#wrapper div{
    width: 23vw;
    height: 100vh;
    /* border: 1px solid black; */
}
#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-left: 3vw; */
    /* margin-right: 3vw; */
    /* gap: 1em; */
}
.p{
    /* margin-top: .5em; */
    line-height: 2em;
    /* border: 1px solid blue; */
    /* width: 20vw; */

}
.duration{
    padding-top: 4vh;
    padding-bottom: 4vh;
    /* border: 1px solid black; */
}
.p>img{
    border-radius: 1vw;
}
.p>:first-child:hover{
    transform: translatey(-1vh);
    transition: 0.2s;
    /* box-shadow: 0px 15px 0px 0px rgba(211, 210, 210, 0.575); */
    /* box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 10px 50px 0px rgb(112, 112, 112);

} 
.p>:nth-child(2){
    width: 23vw;
    font-size: 1.2vw;
}
.p>:nth-child(3) {
    font-size: 1.2vw;
}
.afc{
    background-color: rgb(221,61,49);
    padding: 1.5vh 1vh 1vh 1vh;
    border: none;
    border-radius: .5vh .5vh .5vh .5vh;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}
.afc:hover{
    background-color: rgb(199, 5, 5);
    transition: .5s;
}
.lm{
    padding: 1vh 1vh 1vh 1vh;
    border: none;
    /* box-shadow: 1vh 1vh 1vh 1vh; */
    border-radius: 1vh 1vh 1vh 1vh;
    border: .1px solid black;
    font-size: 1vw;
}
.blue{
    width: 20vw;
    height: 1vh;
    border: 1px solid blue;
}
.na{
    margin-top: 20vh;
    margin-left: 37vw;
    font-size: 2vw;
    font-weight: 900;
    padding-bottom: 4vh;
}
.ul{
    display: flex;
    gap: 3vw;
    margin-top: 5vh;
    margin-left: 10vw;
    padding-bottom: 8vh;
}
.ul>:first-child{
    font-weight: 900;
}
.unde{
    margin-left: 7vw;
    padding-bottom: 4vh;
    width: 85vw;
}
.unde3{
    margin-left: 27vw;
    padding-bottom: 4vh;
}
.ub{
    color: white;
    background-color: rgb(32,146,237);
    width: 22vw;
    height: 9vh;
    font-size: .8vw;
    margin-left: 32vw;
    border: none;
    border-radius: .5vw;
    font-weight: 700;
}
.mastery{
    background-color: rgb(33,37,41);
    height: 50vh;
    margin-top: 10vh;
    display: flex;
    gap: 3vw;
    line-height: 5vh;
    padding-left: 10vw;
}
.mastery2{
    margin-top: 5vh;
    color: white;
}
.nswtb{
    font-size: 1.5vw;
    font-weight: 700;
    padding-bottom: 3vh;
}
.book{
    height: 5vh;
    width: 17vw;
    border-radius: .5vw;
    border: none;
}
.download{
    color: white;
    background-color: rgb(221,61,49);
    border: none;
    margin-top: 2vh;
    height: 5vh;
    width: 14vw;
    border-radius: .5vw;
}
footer{
    background-color: black;
    color: white;
}
.footer1{
    padding-top: 10vh;
    display: flex;
    gap: 4vw;
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 3vh;
}
.cyclobold{
    font-size: 1.5vw;
    font-weight: bolder;
    padding-bottom: 5vh;
}
span{
    font-size: 1vw;
    font-weight: 600;
}
.wdu{
    font-size: 1.2vw;
    font-weight: 900;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.cs{
    padding-top: 9vh;
}
.fline{
    border: 1px solid white;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 5vh;
}
.footer2{
    display: flex;
    gap: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-between;
    line-height: 3vh;
    margin-top: 3vh;
}
a{
    text-decoration: none;
    color: white;
}
.ql{
    padding-bottom: 3vh;
    font-weight: 700;
    font-size: 1.5vw;
}
.formmm{
    width: 10vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: .5vw;
}
.subscribe{
    width: 7vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: .5vw;
    background-color: red;
    color: white;
}
@media(max-width:1100px){
    #wrapper{
        display: flex;
        /* gap: 100em; */
        justify-content: space-between;
        /* margin-left: 2vw; */
        /* margin-right: 0vw; */
    }
    .p>:first-child{
        width: 20vw;
    }
    .p>:nth-child(2){
        font-size: 1vw;
    }
    
}
@media (max-width:1035px) {
    .img1{
        display: none;
    }
    .box{
        width: 50vw;
        margin-left: 17vw;
    }
    .ttu{
        font-size: 3.5vw;
        margin-left: 10vw;
    }
    .ttu2{
        width: 50vw;
        font-size: 2vw;
    }
    .alumni{
        font-size: 1.5vw;
        margin-left: 33vw;
    }
    .logo{
        margin-left: 30vw;
    }
    br{
        display: none;
    }
    #ec{
        margin-left: 17vw;
    }
    .mastery{
        padding-left: 5vw;
        height: 60vh;
    }.formmm{
        width: 15vw;
        margin-bottom: 3vh;
        margin-top: 3vh;
    }
    .subscribe{
        width: 10vw;
    }
}
@media (max-width:760px) {
    #wrapper{
        display: block;
        margin-left: 15vw;
    }
    .p>:first-child{
        width: 70vw;
        height: 40vh;
    }
    .p>:nth-child(2){
        font-size: 2.2vw;
        /* margin-left: 10vw; */
        width: 50vw;
    }
    .p>:nth-child(3){
        font-size: 2vw;
        width: 70vw;
    }
    .img{
        margin-left: 25vw;
    }
    .text2{
        margin-left: 10vw;
        margin-top: 5vh;
        width: 80vw;
    }
    .ull{
        margin-left: 2vw;
    }
    .afc{
        font-size: 2vw;
    }
    .lm{
        font-size: 2vw;
    }
    .p>:nth-child(5){
        width: 50vw;
    }
    .h1>:nth-child(2){
        display: none;
    }
    .h1>:nth-child(3){
        display: none;
    }
    .h2:nth-child(3){
        display: none;
    }
    .cu, .formone, .login{
        display: none;
    }
    #menubar{
        display: block;
        font-size: 3vw;
        margin-right: 10vw;
        font-weight: 900;
        cursor: pointer;
    }
    #closebar{
        display: none;
        font-size: 3.5vw;
        margin-right: 11vw;
        font-weight: 900;
        cursor: pointer;
    }
    .mastery{
        height: 70vh;
    }
    .unde{
        width: 80vw;
    }
    .unde3{
        margin-left: 15vw;
    }
    .ub{
        font-size: 1.5vw;
    }
}
@media (max-width:759px) {
    .mastery{
        display: block;
        height: 130vh;
    }
    .nswtb{
        font-size: 2vw;
    }
    .mastery>:first-child{
        width: 85vw;
        height: 80vh;
    }
    .book{
        margin-top: 3vh;
        width: 30vw;
        margin-left: 20vw;
    }
    .download{
        width: 30vw;
        margin-left: 20vw;
    }
    .footer1{
        display: block;
    }
    .footer2{
        display: block;
    }
    .landing2{
        display: block;
        height: 110vh;
    }
    .formmm{
        width: 18vw;
    }
    .logo{
        margin-left: 22vw;
        font-size: 2.2vw;
    }
    .duration{
        width: 50vw;
    }
}
@media(max-width:625px){
    .mastery{
        height: 150vh;
    }    
    .landing2{
        height: 120vh;
    }
}
@media(max-width:422px) {
    .img{
        margin-left: 12vw;
    }
    .section1{
        padding-left: 0vw;
    }
    .box{
        width: 90vw;
        margin-left: 5vw;
    }
    .ttu{
        margin-left: 20vw;
        font-size: 5vw;
    }
    .ttu2{
        font-size: 4vw;
        padding-left: 8vw;
        /* border: 1px solid black; */
        width: 90%;
    }
    #ec{
        margin-left: 30vw;
        font-size: 3vw;
    }
    .landing2{
        height: 130vh;
    }
    .alumni{
        font-size: 3vw;
        margin-left: 15vw;
    }
    .logo{
        font-size: 3vw;
        margin-left: 10vw;
    }
    .p>:nth-child(2){
        font-size: 3vw;
        width: 300%;
    }
    .p>:nth-child(3){
        font-size: 3vw;
    }
    .na{
        font-size: 3vw;
    }
    .ul{
        font-size: 3vw;
        margin-left: 5vw;
    }
    .ub{
        font-size: 3vw;
        width: 50vw;
        margin-left: 20vw;
    }
    .unde3{
        margin-left: 6vw;
        width: 90vw;
        font-size: 2.9vw;
    }
    .cyclobold{
        font-size: 3vw;
    }
    .wdu{
        font-size: 3vw;
    }
    .ql{
        font-size: 3vw;
    }
    .formmm{
        width: 40vw;
    }
    .subscribe{
        width: 25vw;
    }
}
/* 377 */
@media(max-width:412px) {
    .mastery>:first-child{
        width: 80vw;
        height: 50vh;
    }
    .unde3{
        width: 50vw;
    }
}
@media(max-width:358px) {
    .img{
        display: none;
    }
    .landing1{
        height: 80vh;
    }
}